


@{
	ViewBag.PageTitle = "Product Managment";
	ViewBag.CardTitle = "Product";
	Layout = "_Dashboard";
}

<div>
	<a asp-controller="Product" asp-action="Create" class="btn btn-success">Create</a>

</div>
<br />

<table id="mytable" class="table table-hover" width="100%">
	<thead>
	<tr>
		<td>Name</td>
		<td>Description</td>
		<td>Price</td>
		<td>Category</td>
		<td>Action</td>
	</tr>
	</thead>
	
</table>

@section Scripts{
	<script src="~/js/Products.js"></script>
}